{% extends "layout.html" %}

{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}

	<h1 class="ui header">{{ title }}</h1>

	{% if current_user.is_authenticated %}
		<h2 class="ui header">Hi {{ current_user.first_name }}!</h2>
	{% endif %}
	
	<section class="header1 cid-rsqdQQOH36" id="header01-4m">
		
		<div class="mbr-overlay"></div>
		<div class="container">
			<div class="mbr-row align-left">
				<div class="title-block mbr-col-sm-12 mbr-col-md-12 mbr-col-lg-8">
					<h1 class="mbr-section-title mbr-bold mbr-fonts-style display-7">Online Store Template</h1>
					<h2 class="mbr-section-title mbr-fonts-style mbr-semibold display-1">DepotAMP Theme</h2>

					<p class="mbr-text mbr-regular mbr-fonts-style mbr-pt-3 display-5">A sleek and clean ecommerce theme. Use it to build an attractive looking<br> online store with a minimal design. Online Store Template is awesome.</p>
					<div class="mbr-section-btn mbr-pt-4"><a class="btn-primary btn display-7" href="{{url_for('demo')}}"><span class="mobi-mbri mobi-mbri-arrow-next mbr-iconfont mbr-iconfont-btn"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="17" height="17"><path d="M4.6 22.6L15.2 12 4.6 1.4 6 0l12 12L6 24z"></path></svg></span>Live Demo</a> <a class="btn-primary btn display-7" href="https://my.mobirise.com/buy.php?p=70"><span class="mobi-mbri mobi-mbri-arrow-next mbr-iconfont mbr-iconfont-btn"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="17" height="17"><path d="M4.6 22.6L15.2 12 4.6 1.4 6 0l12 12L6 24z"></path></svg></span>Buy Now</a></div>
				</div>
			</div>
			
		</div>
	</section> 


{% endblock %}
